.content__container {
  overflow: hidden;
  height: 40px;
}

.content__container__list {
  list-style: none;

  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  margin: 0;
  line-height: 40px;
}

@keyframes change {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  7.14% {
    transform: translate3d(0, -14.28%, 0);
  }
  14.28% {
    transform: translate3d(0, -28.57%, 0);
  }
  21.42% {
    transform: translate3d(0, -42.85%, 0);
  }
  28.57% {
    transform: translate3d(0, -57.14%, 0);
  }
  35.71% {
    transform: translate3d(0, -71.42%, 0);
  }
  42.85% {
    transform: translate3d(0, -85.71%, 0);
  }
  53.5% {
    transform: translate3d(0, -71.42%, 0);
  }
  64.28% {
    transform: translate3d(0, -57.14%, 0);
  }
  71.42% {
    transform: translate3d(0, -42.85%, 0);
  }
  78.54% {
    transform: translate3d(0, -28.57%, 0);
  }
  85.71% {
    transform: translate3d(0, -14.28%, 0);
  }
}
