<!-- parent.component.html -->
<div class="flex justify-between w-11/12 m-auto gap-5">
  <!-- Sidebar -->
  <div class="w-1/4 shadow-md border border-gray-300">
    <div class="sidebar">
      <h2 class="text-md md:text-lg lg:text-xl text-center mt-4 mb-4">
        Saved Conversations
      </h2>
      <ul class="p-2 w-10/12 m-auto">
        <li
          class="text-left bg-pink-600 text-white p-2 rounded-md mb-2"
          *ngFor="let item of savedConversations"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Chat Area -->
  <div class="w-3/4">
    <app-chat></app-chat>
  </div>
</div>
